html{
	height: 100%;
	width: 100%;
}
body{
	margin:0px;
	padding:0px;
	height: 86.8%;
	width: 100%;
}


* {
    margin: 0;
}
html, body {
    height: 100%;
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 0 10px;
}
li{
	margin: 0;
	padding: 0;
	line-height: 30px;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 5px;
	word-wrap:break-word;
}

header{
	background-color: cadetblue;
}
.logo{
	width: 60px;
	height: 60px;
	background-image: url(image/logo.jpg);
	background-size: cover;
	display: inline-block;
}
h1{
	display: inline-block;
	margin: 0;
	font-size: 60px;
}
.container{
	width: 50%;
	margin: 0 auto;
}


.page-wrap {
  min-height: 100%;
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}


.input-text{
	position: fixed;
	right: 50px;
	margin-top: 25px;
}
.some-text{
	resize: vertical;
	height: 160px;
	border: 1px solid #888;
	outline: none;
}
.data{
	display: block;
	text-align: right;
	font-size: 10px;
}
.delete{
	font-size: 10px;
}
.delete:hover{
	cursor: default;
	text-decoration: underline;
}
.add{
	display: block;
	background-color: burlywood;
	width: 100%;
	border:none;
}
.add:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}

footer{
	background-color: coral;
	/*height: 140px;*/
}
.git, .mail{
	width: 60px;
	height: 60px;
	text-decoration: none;
	background-color: bisque;
	display: inline-block;
	text-align: center;
	line-height: 60px;
}
.git:hover, .mail:hover{
	zoom:0.9;
}
.git{
	float: right;
}
.mail{
	float:left;
}
.wrapper{
	width: 125px;
	margin: 0 auto;

}